CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

*.pdf

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#cmake-build-*
*.json
Sheet01/build/.ninja_deps
Sheet01/build/.ninja_log
Sheet01/build/build.ninja
Sheet01/build/estimate_function_root
/Sheet01/build
*.idx
Sheet01/student_template_1.1/build/estimate_function_root
Sheet01/student_template_1.1/build/libsubmission.so
*.zip
Sheet02/build/.ninja_log
Sheet02/build/.ninja_deps
Sheet02/student_template_2.2/build/libsubmission.so
Sheet02/student_template_2.2/build/build.ninja
Sheet02/student_template_2.2/build/.ninja_log
Sheet02/student_template_2.2/build/.ninja_deps
Sheet02/build/libsubmission.so
Sheet02/build/.ninja_log
Sheet02/build/.ninja_deps
/Sheet02/student_template_2.2/build
Sheet03/.clangd
Sheet03/.editorconfig
Sheet03/build/build.ninja
Sheet03/build/.ninja_log
Sheet03/build/.ninja_deps
/Sheet03/build
